<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New pass</title>
</head>
<body>
    <h1>Set up new password here</h1>
    <form action="setnewpass" method="post">{%csrf_token%}
        <input type="password" name="newpass" placeholder="Enter new password">
        <br>
        <input type="password" name="confnewpass" placeholder="Re-enter new password">
        <br>
        <button class="submit" type="submit">Submit</button>
    </form>
</body>
</html>