{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Reset Password</title>
</head>

<body>
    <section class="container">
        <h2>Reset Password Form</h2>
        <form method="POST" action="setnewpass">{% csrf_token %}
            <label for="newpassword">New Password</label>
            <input type="text" placeholder="Enter New Password" id="newpassword" name="pass1">
            <label for="newpassword">Re-Enter Password</label>
            <input type="text" placeholder="Re-Enter New Password" id="newpassword" name="pass2">
            <button type="submit" class="btn-primary">Reset Password</button>
        </form>
    </section>
</body>

</html>